/* You can add global styles to this file, and also import other style files */
body {
}
.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ebebeb;
  background:url("./assets/images/background3.jpg");
}

.wrapper > * {
  padding: 10px;
}

.page-main {
  flex-grow: 1;
}

.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.max-size-image {
  max-width: 100%;
  max-height: 180px;
  border-radius: 20px 20px 0 0 !important; 
}
.my-card {
    margin: 10px;
    width: 100%;
    border-radius: 20px !important;
    min-height: 360px;
}
.text-justify{
    text-align: justify !important;
}



.card-new {
  display: grid;
  grid-template-rows: 150px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  

  transition: 0.5s ease !important;
  cursor: pointer !important;
  margin:30px !important;
}
.card-image-new {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text-new {
  grid-area: text;
  margin: 25px;
  color: black;
}
.card-text-new .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text-new p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text-new h2 {
  margin-top:0px;
  font-size:28px;
}
.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #BAABBA;
}
.card-stats .stat {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats .value{
  font-size:22px;
  font-weight: 500;
}
.card-stats .value sup{
  font-size:12px;
}
.card-stats .type{
  font-size:11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card-new:hover {
  transform: scale(1.15) ;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.textSize{
  font-size: 20px;
}